# Data files
data/raw/*.h5
data/processed/
app/data/*.rds

# Analysis outputs
results/

# R
.Rhistory
.RData
.Rproj.user
*.Rproj

# OS
.DS_Store
Thumbs.db

# Conda
.conda/

# Deployment
app/rsconnect/
